<!--@subject {{trans "Order #%increment_id was automatically cancelled" increment_id=$request.increment_id}} @-->
<!--@vars
{
"var request":"Request Model",
"var request.order_id":"Order Id",
"var order_view_url":"Order View Url",
"var customer_name":"Customer Name",
"var customer_email":"Customer Email"
}
@-->
{{template config_path="design/email/header_template"}}

<p>{{trans "Hello,"}}</p>
<p>{{trans "This is an automatic notification about the order cancellation. "}}</p>

<p><b>{{trans "Details"}}</b></p>

<p>{{trans "Customer: %name " name=$request.name}}{{var request.customer_email}}</p>
<p>{{trans "Order: "}}<a href="{{var order_view_url}}">#{{var request.increment_id}}</a></p>
<p>{{trans "Created at: %order_created_at" order_created_at=$request.order_created_at}}</p>
<p>{{trans "Canceled at: %canceled_at" canceled_at=$request.canceled_at}}</p>
<p>{{trans "Payment method": %payment_method" payment_method=$request.payment_method}}</p>
<p>{{trans "Thank you!"}}</p>

{{template config_path="design/email/footer_template"}}