<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Mage4. All rights reserved.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Customer\Controller\Account\CreatePost" type="Mage4\CustomB2BAttr\Controller\Account\CreatePost" />
</config>
