<!--
 /**
 * Amasty Grid Component
 *
 * @desc Products Grid Component For Quick Order Page
 */
 -->

<!-- ko scope: 'grid_title' -->
    <!-- ko template: getTemplate() --><!-- /ko -->
<!--/ko-->

<div class="amqorder-content">
    <ul class="amqorder-items-block" data-amqorder-js="items" data-bind="foreach: elems(), visible: elems().length">
        <li data-bind="
                attr: {
                    'class': 'amqorder-item amqorder-item-info product-item-info' + ' -' + type_id + (isWeee ? ' -weee' : ''),
                    'data-amqorder-js': 'item',
                    'data-item-id': id
                },
                css: {
                    '-errors': $parent.getErrors($data).length,
                    '-smart': optionsQty() > 2
                },
                event: {
                    'configurable.initialized': function(item, event) {
                        $parent.preselectConfigurableDropDowns(item);
                    }
                }
        ">
            <div class="amqorder-items-wrapper">
                <!-- ko scope: 'product_image' -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                <!-- /ko -->

                <div class="amqorder-item -name">
                    <!-- ko scope: 'product_title' -->
                        <!-- ko template: getTemplate() --><!-- /ko -->
                    <!-- /ko -->

                    <!-- ko scope: 'options_button' -->
                        <!-- ko template: getTemplate() --><!-- /ko -->
                    <!--/ko-->
                </div>

                <!-- ko scope: 'sku' -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                <!-- /ko -->

                <!-- ko scope: 'qty' -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                <!-- /ko -->

                <!-- ko scope: 'price' -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                <!-- /ko -->

                <!-- ko scope: 'remove_button' -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                <!-- /ko -->
            </div>

            <!-- ko scope: 'options_button' -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->

            <!-- ko scope: 'options_block' -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->

            <!-- ko scope: 'remove_button' -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!-- /ko -->

            <!-- ko scope: 'item_errors' -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </li>
    </ul>

    <section class="amqorder-toolbar-block"
             data-bind="css: { '-pagination': pager().isPaginationVisible() }, visible: isGridHasItems()">
        <!--ko if: $data.exportEnabled -->
            <button class="amqorder-button -clear -link -download"
                    data-bind="i18n: 'Download List', click: downloadList">
            </button>
        <!-- /ko -->

        <!-- ko scope: 'pager' -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->

        <!--ko if: $data.actionsEnabled -->
            <button class="amqorder-button -basket -clear -clear-list"
                    data-bind="i18n: 'Clear List', click: clear">
            </button>
        <!-- /ko -->
    </section>

    <span class="amqorder-message"
          data-amqorder-js="message"
          data-bind="i18n: 'You haven’t added products yet.', visible: !elems().length">
    </span>
</div>

<!-- ko scope: 'move_buttons' -->
    <!-- ko template: getTemplate() --><!-- /ko -->
<!-- /ko -->
