<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route frontName="cms_heroimage" id="cms_heroimage">
            <module name="Mage4_ExtendMagentoCms"/>
        </route>
    </router>
</config>
