<?xml version="1.0"?>
<!--
/**
 * Mage4
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Swatches\Block\Product\Renderer\Listing\Configurable" type="Mage4\ExtendMagentoSwatches\Block\Product\Renderer\Listing\Configurable" />
</config>
